/*

TemplateMo 588 ebook landing

https://templatemo.com/tm-588-ebook-landing

*/

@import url("//fonts.googleapis.com/css?family=Nunito:400,600,700,800");

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )
-----------------------------------------*/
:root {
    --white-color: #ffffff;
    --primary-color: #ff6d0b;
    --secondary-color: #e9c46a;
    --section-bg-color: #f0f8ff;
    --custom-btn-bg-color: #ff6d0b;
    --custom-btn-bg-hover-color: #ff6d0b;
    --dark-color: #000000;
    --p-color: #717275;
    --link-hover-color: #ff6d0b;

    --body-font-family: "Nunito", "Segoe UI", arial;

    --h1-font-size: 42px;
    --h2-font-size: 36px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 20px;
    --p-font-size: 16px;
    --menu-font-size: 12px;
    --btn-font-size: 14px;
    --copyright-font-size: 14px;

    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

body {
    background-color: var(--white-color);
    font-family: var(--body-font-family);
}

/*---------------------------------------
  TYPOGRAPHY
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-semibold);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    color: var(--secondary-color);
    font-size: var(--h6-font-size);
}

p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-normal);
}

ul li {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-normal);
}

a,
button {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

b,
strong {
    font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  SECTION
-----------------------------------------*/
.section-padding {
    padding-top: 20px;
    padding-bottom: 75px;
}

::selection {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

/*---------------------------------------
  AVATAR IMAGE
-----------------------------------------*/
.avatar-image {
    border: 4px solid var(--white-color);
    border-radius: 100px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.avatar-image-left {
    position: relative;
    left: -10px;
}

.avatar-image-left + .avatar-image-left {
    left: -20px;
}

.avatar-image-left + .avatar-image-left + .avatar-image-left {
    left: -30px;
}

.avatar-image-left
    + .avatar-image-left
    + .avatar-image-left
    + .avatar-image-left {
    left: -40px;
}

.avatar-group,
.reviews-group {
    color: var(--white-color);
    position: relative;
    z-index: 22;
}

.reviews-group {
    display: inline-block;
    vertical-align: top;
}

.reviews-group strong {
    font-size: var(--h3-font-size);
    font-weight: bold;
}

/*---------------------------------------
  CUSTOM LINK
-----------------------------------------*/
.link {
    z-index: 1;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: var(--dark-color);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: "";
}

.link--kale::before {
    height: 10px;
    top: 100%;
    opacity: 0;
}

.link--kale:hover::before {
    opacity: 1;
    animation: lineUp 0.3s ease forwards;
}

@keyframes lineUp {
    0% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 0.045, 1);
    }

    50% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 1, 1);
    }

    51% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 1, 1);
    }

    100% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 0.045, 1);
    }
}

.link--kale::after {
    content: "";
    transition: opacity 0.3s;
    opacity: 0;
    transition-delay: 0s;
}

.link--kale:hover::after {
    opacity: 1;
    transition-delay: 0.3s;
}

/*---------------------------------------
  CUSTOM BUTTON
-----------------------------------------*/
.custom-btn {
    background: var(--custom-btn-bg-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-semibold);
    line-height: normal;
    transition: all 0.3s;
    padding: 10px 20px;
}

.custom-btn:hover {
    background: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
}

.custom-border-btn {
    background: transparent;
    border: 2px solid var(--custom-btn-bg-color);
    color: var(--custom-btn-bg-color);
}

.custom-border-btn:hover {
    background: var(--custom-btn-bg-color);
    border-color: transparent;
    color: var(--white-color);
}

.custom-btn-bg-white {
    border-color: var(--white-color);
    color: var(--white-color);
}

.btn-naira {
    padding: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.btn-naira::before {
    content: "";
    position: absolute;
    left: -50%;
    width: 200%;
    height: 200%;
    background: var(--primary-color);
    top: -50%;
    z-index: -1;
    -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
}

.btn-naira.btn-inverted::before {
    background: var(--primary-color);
}

.btn-naira > span {
    display: block;
    vertical-align: middle;
}

.btn-naira .btn-icon {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    color: var(--white-color);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.btn-naira > span,
.btn-naira .btn-icon {
    padding: 10px 20px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn-naira:hover::before {
    -webkit-animation: anim-naira-1 0.3s forwards ease-in;
    animation: anim-naira-1 0.3s forwards ease-in;
}

@-webkit-keyframes anim-naira-1 {
    50% {
        -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
        transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
        transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes anim-naira-1 {
    50% {
        -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
        transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
        transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    }
}

.btn-naira:hover {
    background-color: var(--primary-color);
    -webkit-transition: background-color 0s 0.3s;
    transition: background-color 0s 0.3s;
}

.btn-naira.btn-inverted:hover {
    background-color: var(--primary-color);
}

.btn-naira:hover .btn-icon {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.btn-naira:hover > span {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

/*---------------------------------------
  NAVIGATION
-----------------------------------------*/
.sticky-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.sticky-wrapper.is-sticky .navbar {
    background-color: rgba(255, 255, 255);
    box-shadow: 1px 1px 1px 1px rgb(233, 232, 232);
}

.navbar {
    background: transparent;
    z-index: 99;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand,
.navbar-brand:hover {
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    display: block;
    color: var(--white-color);
}

.navbar-brand-icon {
    background: var(--secondary-color);
    border-radius: var(--border-radius-large);
    display: inline-block;
    vertical-align: top;
    color: var(--white-color);
    font-size: var(--h6-font-size);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}

.navbar-brand-icon::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 10px;
    right: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent var(--secondary-color) transparent;
    pointer-events: none;
    transform: rotate(65deg);
}

.navbar-expand-lg .navbar-nav .nav-link {
    border-radius: var(--border-radius-large);
    margin: 10px;
    padding: 10px;
}

.navbar-nav .nav-link {
    display: inline-block;
    color: var(--dark-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-semibold);
    letter-spacing: 0.5px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease,
        -webkit-transform 300ms 350ms ease;
    top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
    background: var(--dark-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease,
        -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--dark-color);
    width: 30px;
    height: 2px;
    content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
}

/*---------------------------------------
  HERO
-----------------------------------------*/
.hero-section {
    background-color: var(--white-color);
    background-position: center;
    position: relative;
    padding-top: 50px;
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-color: var(--white-color);
}

.hero-section .row {
    position: relative;
    z-index: 22;
    top: 100px;
}

.hero-image {
    position: relative;
    z-index: 2;
    bottom: 100px;
    display: block;
    margin: auto;
}

@media screen and (min-width: 991px) {
    .hero-section {
        height: calc(90vh - 88px);
        padding-top: 350px;
    }
}

/*---------------------------------------
  FEATURED
-----------------------------------------*/
.featured-section {
    background-color: var(--custom-btn-bg-color);
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.featured-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 450px 450px;
    border-color: transparent transparent var(--custom-btn-bg-color) transparent;
    pointer-events: none;
}

/*---------------------------------------
  CUSTOM BLOCK
-----------------------------------------*/
.content-review {
    padding-right: 25%;
    padding-left: 25%;
}

.card-review {
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    margin-bottom: 10px;
}

.body-review-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-review img {
    width: 30rem;
}

.header-review {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
}

.title-review {
    font-weight: 700;
    color: var(--dark-color);
}

.message-review {
    border-left: 5px solid #ff6d0b;
    padding-left: 1em;
    margin-left: 3rem;
    color: rgb(173, 171, 171);
    text-decoration-style: dashed;
}

.actions-review {
    margin-top: 1.5rem;
}

.actions-review a {
    text-decoration: none;
}

.read-review {
    display: inline-block;
    align-items: center;
    border-radius: 0.5rem;
    width: 50%;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 800;
    background-color: var(--custom-btn-bg-color);
    color: rgba(255, 255, 255, 1);
}

.read-review:hover {
    color: rgba(255, 255, 255, 1);
}

/*---------------------------------------
  THE BOOK SECTION
-----------------------------------------*/
.book-section-info {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.nav-pills {
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius-medium);
    position: sticky;
    top: 120px;
    padding: 30px;
}

.nav-pills .nav-link {
    background: var(--section-bg-color);
    color: var(--p-color);
    border-radius: var(--border-radius-large);
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px 30px;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background: var(--primary-color);
    color: var(--white-color);
}

.scrollspy-example-2 {
    padding-right: 30px;
    padding-left: 30px;
}

.scrollspy-example-item {
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.scrollspy-example-item:last-child {
    border-bottom: 0;
}

.scrollspy-example-item-image {
    border-radius: var(--border-radius-medium);
}

.scrollspy-example-item h5 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.blockquote {
    background: var(--section-bg-color);
    border-radius: var(--border-radius-small);
    font-size: var(--h5-font-size);
    font-weight: var(--font-weight-semibold);
    color: var(--site-footer-bg-color);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 80px 40px 40px 40px;
    text-align: center;
}

.blockquote::before {
    content: "“";
    color: var(--custom-btn-bg-color);
    font-size: 100px;
    line-height: 1rem;
    display: block;
}

/*---------------------------------------
  AUTHOR SECTION
-----------------------------------------*/
.section-author {
    padding-top: 100px;
    padding-bottom: 100px;
}

.author-section {
    background-image: url("../images/circle-scatter-haikei.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    position: relative;
    margin-top: 50px;
    background-color: rgba(217, 217, 217, 0.58);
}

.author-image {
    display: block;
    margin: auto;
    object-fit: cover;
}

/*---------------------------------------
  DIVIDER SECTION
-----------------------------------------*/
.divider-section {
    background-image: url("../images/wave-haikei.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*---------------------------------------
  CONTACT
-----------------------------------------*/
.contact-section {
    background: var(--custom-btn-bg-color);
    position: relative;
    overflow: hidden;
}

.contact-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 450px 450px 0 0;
    border-color: var(--white-color) transparent transparent;
    pointer-events: none;
}

.contact-section .container {
    position: relative;
}

.contact-section p {
    color: var(--white-color);
    font-size: var(--h6-font-size);
}

.contact-link {
    color: var(--white-color);
}

.contact-section .copyright-text {
    font-size: var(--copyright-font-size);
}

/*---------------------------------------
  EBOOK DOWNLOAD FORM
-----------------------------------------*/
.ebook-download-form {
    border-radius: var(--border-radius-medium);
    position: relative;
    z-index: 2;
    padding: 50px;
}

/*---------------------------------------
  CUSTOM FORM
-----------------------------------------*/
.custom-form .form-control {
    border-radius: var(--border-radius-large);
    box-shadow: none;
    color: var(--p-color);
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 40px;
    padding-left: 20px;
    outline: none;
}

.custom-form .form-control:focus,
.custom-form .form-control:hover {
    border-color: var(--primary-color);
}

.custom-form .form-control:focus + .input-group-text .custom-form-icon,
.custom-form .form-control:hover + .input-group-text .custom-form-icon {
    opacity: 1;
}

.custom-form .input-group-text {
    background: transparent;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
}

.custom-form-icon {
    position: relative;
    z-index: 22;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
    > .form-floating:not(:last-child)
    > .form-control,
.input-group:not(.has-validation)
    > .form-floating:not(:last-child)
    > .form-select,
.input-group:not(.has-validation)
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
        .form-floating
    ) {
    border-radius: var(--border-radius-large);
}

.custom-form button[type="submit"] {
    background: var(--custom-btn-bg-color);
    border: none;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-semibold);
    transition: all 0.3s;
    margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
    background: var(--custom-btn-bg-hover-color);
    border-color: transparent;
}

/*---------------------------------------
  SOCIAL ICON
-----------------------------------------*/
.social-icon {
    margin: 0;
    padding: 0;
}

.social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.social-icon-link {
    background: var(--secondary-color);
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--copyright-font-size);
    display: block;
    margin-right: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 36px;
    transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

.section-qw {
    color: var(--dark-color);
    text-align: start;
    font-size: 24px;
    font-family: "Unbounded", sans-serif;
}

.button-diskon {
    display: flex;
    justify-content: center;
    width: 30rem;
    position: relative;
    height: 4em;
    border: 3px ridge var(--white-color);
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
}

.button-diskon::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: var(--custom-btn-bg-color);
    transition: 0.5s;
    transform-origin: center;
}

.button-diskon::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: var(--custom-btn-bg-color);
    transition: 0.5s;
}

.button-diskon:hover::before,
.button-diskon:hover::after {
    transform: scale(0);
}

.archer-disc {
    width: 220px;
    position: absolute;
    top: 20%;
    right: 59%;
}

.text-qw {
    width: 50%;
}

.text-qw h5 {
    line-height: 33px;
}

.text-qw-mobile h5 {
    line-height: 33px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    width: 100%;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #d9e8d8;
    color: #0d0c22;
    box-shadow: 0 0 5px #c1d9bf, 0 0 0 10px #f5f5f5eb;
    transition: 0.3s ease;
}

.input-selected {
    text-align: center;
    height: 40px;
    line-height: 28px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #d9e8d8;
    color: #0d0c22;
    box-shadow: 0 0 5px #c1d9bf, 0 0 0 10px #f5f5f5eb;
    transition: 0.3s ease;
}

.input-selected option {
    text-align: start;
}

.input-button {
    height: 40px;
    line-height: 28px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: var(--custom-btn-bg-color);
    color: var(--white-color);
    box-shadow: 0 0 5px #c1d9bf, 0 0 0 10px #f5f5f5eb;
    transition: 0.3s ease;
}

.input::placeholder {
    color: #777;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
}

.price-domain {
    line-height: 28px;
    padding: 0px 10px 0px 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #8a40cb;
    color: var(--white-color);
    box-shadow: 0 0 5px #c1d9bf, 0 0 0 10px #f5f5f5eb;
    transition: 0.3s ease;
}

.card-text {
    width: 100%;
    border-radius: 50px;
    background: #e0e0e0;
}

.pack-container {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    width: 300px;
    flex-direction: column;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    padding: 1.6rem;
}

.pack-container:hover {
    border: 1px solid var(--custom-btn-bg-color);
    transform: scale(1.05);
}

.pack-container:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.header {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    background: transparent;
    padding-bottom: 1rem;
}

.title {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--dark-color);
}

.price-container {
    color: var(--custom-btn-bg-color);
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 4px;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: bold;
}

.price-container span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.price-container span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.lists {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.list {
    color: var(--dark-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.list span {
    border-radius: 50%;
    border: 1px solid var(--white-color);
    background-color: var(--custom-btn-bg-color);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list span svg {
    height: 12px;
    width: 12px;
}

.list .desc-list {
    display: block;
}

.button-container {
    margin-top: 20px;
    padding: 0;
}

.button-container button {
    display: block;
    width: 100%;
    background-color: var(--custom-btn-bg-color);
    padding: 10px 20px;
    color: var(--white-color);
    outline: 0;
    border: 0;
    border-radius: 10px;
}

.desc-features {
    margin-bottom: 30px;
}

.card-service {
    max-width: 320px;
    border-width: 1px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    padding: 1rem;
    border-radius: 17px;
}

.header-service {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
}

.icon-service {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: var(--custom-btn-bg-color);
    padding: 0.5rem;
    color: rgba(255, 255, 255, 1);
}

.icon-service svg {
    height: 1rem;
    width: 1rem;
}

.alert-service {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-color);
}

.message-service {
    margin-top: 1rem;
    color: var(--dark-color);
}

.actions-service {
    margin-top: 1.5rem;
}

.actions-service a {
    text-decoration: none;
}

.read-service {
    display: inline-block;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    background-color: var(--custom-btn-bg-color);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.read-service:hover {
    color: rgba(255, 255, 255, 1);
}

.card-host {
    position: relative;
    padding: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--custom-btn-bg-color);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
}

.card-menu-host svg {
    width: 30px;
    height: 30px;
}

.card-wrapper-host {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.card-img-host {
    width: 170px;
    height: 170px;
    background: linear-gradient(90deg, #fff8f7, #f0f7df);
    border-radius: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-host img {
    height: 150px;
    /* width: 150px; */
    /* -o-object-fit: cover; object-fit: cover; -o-object-position: right; object-position: right; */
    /* transform: rotate(-45deg) translate(15px, 0px); */
}

.card-title-host {
    font-weight: 600;
    font-size: 25px;
    color: var(--white-color);
}

.card-subtitle-host {
    font-weight: 400;
    font-size: 15px;
    color: var(--white-color);
    letter-spacing: 0.5px;
}

.card-commit {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 320px;
    display: flex;
    flex-direction: column;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
    padding: 1.5rem;
}

.header-commit {
    display: flex;
    flex-direction: column;
}

.header-commit img {
    width: 100px;
    height: 100px;
}

.title-commit {
    margin-top: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
    color: var(--dark-color);
}

.desc-commit {
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    line-height: 1.625;
    color: var(--dark-color);
}

.container-website {
    margin-top: 100px;
}

.button-website {
    margin-top: 20px;
    background: var(--custom-btn-bg-color);
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--white-color);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: var(--white-color);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

.button-website span {
    margin: 10px;
}

.img-costumer img {
    padding-top: 20px;
    width: 190px;
}

.section-padding-customer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hr-line {
    width: 100%;
    margin: auto;
}

.faq-page {
    color: var(--dark-color);
    font-weight: bold;
    cursor: pointer;
    padding: 30px 20px;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body {
    margin: auto;
    padding: auto;
}

.faq-page:hover {
    background-color: #f9f9f9;
}

.faq-body {
    padding: 18px 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: "\02795";
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.content-faq {
    padding-right: 12.5%;
    padding-left: 12.5%;
}

.card-info {
    width: 48%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.title-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-info span {
    position: relative;
    padding: 1.5rem;
    background-color: rgba(217, 217, 217, 0.58);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
}

.title-info span img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 1.5rem;
}

.data-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.data-info p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1f2937;
    font-size: 22px;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.contact-link:hover {
    color: var(--white-color);
}

/*---------------------------------------
  RESPONSIVE STYLES
-----------------------------------------*/
@media screen and (max-width: 1200px) {
    .read-review {
        width: 100%;
    }

    .container-service {
        justify-content: center;
        align-items: center;
    }

    .container-commit {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-host {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-service {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pack-container {
        width: 100%;
    }

    .archer-disc {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .card-info {
        width: 100%;
    }

    .content-faq {
        padding-right: 0%;
        padding-left: 0%;
    }

    .img-costumer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-costumer img {
        width: 230px;
    }

    .body-review-left {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .content-review {
        padding-right: 0%;
        padding-left: 0%;
    }

    .body-review {
        display: block;
    }

    .img-review img {
        width: 100%;
    }

    .container-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-website {
        margin-top: 50px;
    }

    .scrollspy-example-2 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .section-qw {
        font-size: 18px;
    }

    .text-qw {
        display: none;
    }

    .link {
        display: none;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .section-author {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .navbar {
        background-color: rgba(255, 255, 255, 0.65);
        box-shadow: 1px 1px 1px 1px rgb(233, 232, 232);
    }

    .navbar-expand-lg .navbar-nav {
        padding-bottom: 20px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
    }

    .scrollspy-example-2 .scrollspy-example-item:first-child {
        padding-top: 0;
    }

    .scrollspy-example-item h5 {
        padding-bottom: 5px;
    }

    .book-section-info {
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .ebook-download-form {
        padding: 30px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    .navbar-brand {
        font-size: var(--p-font-size);
    }

    .navbar-brand-icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .navbar-brand-icon::after {
        top: 5px;
    }

    .btn-naira > span,
    .btn-naira .btn-icon {
        font-size: 12px;
        padding: 5px 15px;
    }
}
